
.Shopping_Information {
    margin: 0 auto;
}

.Order_Summary {
    width: 350px;
    height: 100%;
    right: 0px;
    background:white;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.Order_Summary p,h2{
    font-family: 'Roboto', sans-serif;
}

.Cart_Summary h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 55px;
    padding-top: 45px;
    font-size:30px;
}

.Cart_Summary p {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.Cart_Summary {
    background: whitesmoke;
    width: 76%;
    height: 100%;
    margin: 0;
}

.item_table {
    empty-cells: hide;
    border-radius: 10px;
    background: whitesmoke;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 25px;
    width: 90%;
    margin: 0 auto;
    max-width: 630px;
}

.sum_table {
    margin: 0 auto;
    width: 85%;
    text-align: left;

}

.sum_table td:nth-child(even) {
    text-align: right;
}

.item_table tr {
    background: white;
}

.item_table tr {
    border: 1px solid #dddddd;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.item_table td:nth-child(1) {
    width:120px;
}

.item_table td:nth-child(2) {
    width:350px;
}

.item_table td:nth-child(3) {
    width:80px;
}

.item_table td:nth-child(4) {
    width:80px;
}


.movie_poster {
    height: 150px;
    width: 120px;
}


#msg {
	text-align: center; 
	color: red;
}

.order_header {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.order_sum_header {
    width: 300px;

}

body{
    background: whitesmoke;
}

.title {
    text-align: center;
}

.button_order {
	text-align:center;
    padding-top: 25px;
}

.button_order input[type="submit"]{
    color:#fafafa;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

#qty_value {
    text-align: center;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
